/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*FONT IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*CUSTOMIZATION*/
html {
  overflow-x: hidden;
}

body {
  background-color: #080e20;
  color: #fff;
  height: 100%;
  overflow-x: hidden;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo {
  height: 100px;
  width: auto;
  margin-right: 10px;
  margin-left: -10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

.footer a,
footer a:visited {
  margin-left: 5px;
  color: white;
}

h1 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}
.meme-generator {
  margin: 20px auto;
  width: 400px;
  font-family: "Poppins", sans-serif;
  height: auto !important;
  min-height: 100%;
}

hr {
  width: 400px;
}

.meme-generator label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.meme-generator input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#meme {
  width: 100%;
}

.image-selection-container {
  display: flex;
  margin: auto;
  justify-content: center;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
  margin: 10px;
  max-width: 150px;
  height: auto;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 2px solid #f00;
}

button {
  margin: 10px 5px;
  padding: 5px 5px;
  color: black;
  cursor: pointer;
}

/*Mobile Responsiveness*/
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .meme-generator {
    display: none;
    overflow-x: hidden;
  }
  .footer {
    display: none;
  }
  .desktop-only {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    padding-top: 50px;
  }
  .nav-logo {
    width: 50px;
    height: auto;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (min-width: 767.98px) {
  .desktop-only {
    display: none;
  }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}
